@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 16px;
    width: 100%;
    height: auto;
    justify-content: center;
    padding:2% 5% ;
    background-color: #1a1a1a;
    color: #cccccc;
   
}
h1,h2,h3,h4,h5,h6{
    color:  #005d99;
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles for smartphones */
}

/* iPads (portrait and landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles for iPads */
}

/* Desktops and laptops */
@media only screen and (min-width: 1224px) {
    /* Styles for desktops */
}

/* Large screens */
@media only screen and (min-width: 1824px) {
    /* Styles for large screens */
}
