@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 16px;
    width: 100%;
    height: auto;
    padding:2% 10% ;
    background-color: #1a1a1a;
    color: #cccccc;
   
}
h1,h2,h3,h4,h5,h6{
    color:  #005d99;
}